{% extends "generic/object.html" %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title">Attributes</h5>
        </div>
        <div class="card-body">
            {% if attributes %}
                <table class="table table-sm table-borderless">
                    <tbody>
                        {% for attribute in attributes %}
                            <tr>
                                <th scope="row" class="text-muted">{{ attribute.name }}</th>
                                <td>{{ attribute.type }}  {{ attribute.options|join:", " }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-muted">No attributes defined.</p>
            {% endif %}
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title">Relationships</h5>
        </div>
        <div class="card-body">
            {% if relationships %}
                <table class="table table-sm table-borderless">
                    <tbody>
                        {% for relationship in relationships %}
                            <tr>
                                <th scope="row" class="text-muted">{{ relationship.relationship_type }}</th>
                                <td> {{ relationship.allowed_types|join:", " }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-muted">No relationships defined.</p>
            {% endif %}
        </div>
    </div>

    {{ block.super }}
{% endblock %}
